/* import hellwal colors */
@import '../../.cache/hellwal/colors-waybar.css';

/* base colors from hellwal */
@define-color bar-bg rgba(0, 0, 0, 0);
@define-color main-bg @background;
@define-color main-fg @color7;

/* active / hover colors derived for contrast */
@define-color wb-act-bg @color6;
@define-color wb-act-fg @foreground;

@define-color wb-hvr-bg @color4;
@define-color wb-hvr-fg @foreground;

/* tooltip styling */
tooltip {
  background: @main-bg;
  color: @main-fg;
  border-radius: 8px;
  border-width: 0px;
  border: 1.5px solid @main-fg;
  border-style: solid;
  border-color: @main-fg;
}

/* modules shared block */
#backlight,
#backlight-slider,
#battery,
#bluetooth,
#cava,
#custom-mviz,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state label,
#keyboard-state label.locked,
#keyboard-state,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#pulseaudio-slider,
#taskbar,
#temperature,
#tray,
#mpris,
#window,
#wireplumber,
#workspaces,
#privacy,
#gamemode,
#power-profiles-daemon,
#mpris,
#systemd-failed-units,
#custom-pacman,
#custom-pacman2,
#custom-gpu_usage,
#custom-gpu_temp,
#custom-gpu_fan,
#custom-gpu_power,
#custom-clipboard,
#custom-backlight,
#custom-cycle_wall,
#custom-keybinds,
#custom-light_dark,
#custom-lock,
#custom-notification,
#custom-swaync,
#custom-power_outage_switch,
#custom-menu,
#custom-power_vertical,
#custom-power,
#custom-speaker,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-netstatus,
#custom-controllerstatus,
#custom-chatgpt,
#custom-gemini,
#custom-ytmusic,
#custom-tvtime,
#custom-kew,
#custom-calculator,
#custom-hyprshade,
#custom-hyprpicker,
#custom-gpu_vram,
#custom-gpu_aio,
#custom-palette,
#custom-headset_battery,
#custom-weather.sunnyDay {
  color: @main-fg;
  background: alpha(@main-bg, 0.70);
  opacity: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border: 1.5px solid @main-fg;
}

/* hover state */
#taskbar button:hover,
#workspaces button:hover,
#tray > .active:hover,
#pulseaudio:hover,
#mpris:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-fg;
}

/* active state */
#workspaces button.active,
#taskbar button.active,
#mode {
  background: @wb-act-bg;
  color: @wb-act-fg;
}

/* import extras */
@import 'style/common.css';