@define-color	rosewater  #f5e0dc;
@define-color	flamingo  #f2cdcd;
@define-color	pink  #f5c2e7;
@define-color	mauve  #cba6f7;
@define-color	red  #f38ba8;
@define-color	maroon  #eba0ac;
@define-color	peach  #fab387;
@define-color	yellow  #f9e2af;
@define-color	green  #a6e3a1;
@define-color	teal  #94e2d5;
@define-color	sky  #89dceb;
@define-color	sapphire  #74c7ec;
@define-color	blue  #89b4fa;
@define-color	lavender  #b4befe;
@define-color	text  #cdd6f4;
@define-color	subtext1  #bac2de;
@define-color	subtext0  #a6adc8;
@define-color	overlay2  #9399b2;
@define-color	overlay1  #7f849c;
@define-color	overlay0  #6c7086;
@define-color	surface2  #585b70;
@define-color	surface1  #45475a;
@define-color	surface0  #313244;
@define-color	base  #1e1e2e;
@define-color	mantle  #181825;
@define-color	crust  #11111b;

/* Transparencia personalizada */
@define-color base-transparent rgba(30, 30, 46, 0.85);
@define-color surface0-transparent rgba(49, 50, 68, 0.6);

* {
  font-family: 'Inconsolata Nerd Font', monospace;
  font-size: 14px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 2px solid @lavender;
  border-radius: 16px;
  background-color: @base-transparent;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  background-color: transparent;
  border-radius: 16px;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  background-color: transparent;
  border-radius: 16px;
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  background-color: transparent;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border-radius: 12px;
  color: @text;
  background-color: @surface0-transparent;
  border: none;
}

#input:focus {
  border: 2px solid @lavender;
}

/* Entries */
#entry {
  margin: 4px;
  padding: 10px;
  border-radius: 14px;
  background-color: transparent;
}

/* Hover */
#entry:hover {
  background-color: @surface0-transparent;
}

/* Selected */
#entry:selected {
  background-color: @lavender;
  border-radius: 14px;
}

#entry:selected #text {
  color: @base;
  font-weight: bold;
}

/* Text */
#text {
  margin: 5px;
  color: @text;
}

/* Icon */
#img {
  margin-right: 8px;
}